// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: ('Segoe UI Regular', 'OpenSans-Regular');

/// Background colors
$primary-color: (#0747A6, #091E42, #42526E, #FFFFFF);

$secondary-color: (#E2FFEE, #79F2C0, #FFAB00, #FF5630);

$transparent: rgba(255,255,255,0.3);

$color-scheme-1: (#0747A6, #177CFF, #4E9AFC, #4F98FE, #A3D2FE, #C2E6FA, #DEEBFF);

$color-scheme-2: (#006644,#00875A,#36B37E,#57D9A3,#79F2C0,#ABF5D1,#E2FFEE);

$color-scheme-3: (#403294,#5243AA,#6554C0,#8777D9,#998DD9,#C0B6F2,#EAE6FF);

$color-scheme-4: (#BF2600,#DE350B,#FF5630,#FF7452,#FF8F73,#FFBDAD,#FFEBE5);

$color-scheme-5: (#79E2F2,#008DA6,#00A3BF,#00B8D9,#00C7E6,#B3F5FF,#E6FCFF);

$color-scheme-6: (#FF8B00,#FF991F,#FFAB00,#FFC400,#FFE380,#FFF0B3,#FFFAE6);

$neutral-color: (#091E42,#172B4D,#253858,#344563,#42526E ,#505F79,#5E6C84,#6B778C,#7A869A ,#8993A4,#97A0AF,#A5ADBA,#B3BAC5,#C1C7D0 ,#DFE1E6,#EBECF0,#F4F5F7,#FAFBFC,#FFFFFF);

$outline-color: ('light': #D8D8D8,
  'dark': #CDCDCD,
  'selected': #177CFF,
);

$heading-size :(46px, 35px, 28px, 24px, 20px, 16px);

$display-title-size :(52px, 44px, 34px, 26px, 16px);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;