/**
 * Basic typography style for copy text
 */


$primary-2: nth($primary-color, 2);

@each $size in $heading-size {
    $i: index($heading-size, $size);

    h#{$i} {
        font-size: $size;
        color: $primary-2;
    }
}