/**
 * Basic typography style for copy text
 */


$primary-2: nth($primary-color, 2);
$open-sans: nth($text-font-stack, 2);

//creates header style
@each $size in $heading-size {
    $i: index($heading-size, $size);

    h#{$i} {
        font-size: $size;
        color: $primary-2;
    }
}

//creates display title size
@each $size in $display-title-size {
    $i: index($display-title-size, $size);

    .display-#{$i} {
        font-size: $size;
        color: $primary-2;
        font-family: $open-sans;
    }
}

//specialized titles
.heading{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.37px;
    text-transform: uppercase;
}
.text-link{
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.37px;

}
.heading-section{
    font-size: 20px;
    line-height: 34px;
    font-weight: lighter;
}
.address{
    font-size: 12px;
    line-height: 14px;
    font-weight: lighter;
}
//specialized titles

//paragraphs
